# General.
.DS_Store
*~
/venv*
/vendor
/.eggs

# Build products.
/src
/build
/av/**/*.pyd
*.c
*.so
*.pyc
/docs/_build
/docs/includes.rst
/dist
*.egg-info

# Testing.
/sandbox
/tests/assets
/tests/samples
/.vagrant
*.spyderproject
