# General.
.DS_Store
/venv
/bin
/include
/lib

# Libraries.
/ffmpeg
/tutorial
/src/ffmpeg
/src/libav

# Autoconf.
/autom4te.cache
/config.py
/config.log
/config.status
/configure

# Build products.
/build
*.c
*.so
*.pyc
_build


# Testing.
/sandbox
/subtitles


