# General.
.DS_Store
*~
/venv*
/vendor
/bin
/include
/lib

# Autoconf.
/autom4te.cache
/config.py
/config.log
/config.status
/configure

# Build products.
/build
*.c
*.so
*.pyc
/docs/_build
/dist
*.egg-info

# Testing.
/sandbox
/subtitles
/tests/samples
/tests/assets
/tests/sandbox
/.vagrant
