language: python

python:
    - "2.6"
    - "2.7"
env:
    - LD_LIBRARY_PATH=/usr/local/lib LIBRARY=ffmpeg
    - LD_LIBRARY_PATH=/usr/local/lib LIBRARY=libav

before_install:
    - scripts/test-setup
    - pip install --use-mirrors -r tests/requirements.txt

install:
    - make build
    - make test-assets

script:
    - nosetests
