include *.txt *.md
recursive-include av *.pyx *.pxd
recursive-include docs *.rst *.py
recursive-include examples *.py
recursive-include include *.pxd *.h
recursive-include src/av *.c *.h
recursive-include tests *.py